include ../main-header/main-header.jade
include ../main-footer/main-footer.jade
include ../main-content/main-content.jade

doctype html
html(lang='ru')
	body
		include ../head/head.jade

		+main-header
		+main-content
			//- block content

		+main-footer
