mixin main-navigation
	nav.main-navigation
		ul.main-navigation__list
			li.main-navigation__item Home
			li.main-navigation__item Catalog
			li.main-navigation__item News
			li.main-navigation__item Contacts
