include ../../elements/list-item/list-item.jade
include ../../elements/link/link.jade

mixin main-navigation()

	nav.main-navigation
		ul.main-navigation__list
			+list-item("index.html", "Home")
			+list-item("login.html", "Login")
